<div class="sidebar" id="sidebar" *ngIf="url != 'auth' && url != 'career'">
  <div class="sidebar-inner slimscroll-wrap" slimScroll [options]="opts">
    <div id="sidebar-menu" class="sidebar-menu">
      <ul *ngIf="homeView">
        <li class="submenu">
          <a routerLink="/dashboard" [ngClass]="url === 'reports'? 'subdrop' : 'null'">
            <i class="la la-rocket"></i> 
            <span>Admin Dashbboard </span> <span class="menu-arrow"></span>
          </a>
          <ul class="list-unstyled" [ngClass]="url === 'reports'? 'submenu-block' : 'dsply-none'">
            <li>
              <a routerLink="/allponds" [ngClass]="url2 === 'dafabet' ? 'active' : 'null'">
                All Ponds 
              </a>
            </li>
            <li>
              <a routerLink="/allusers" [ngClass]="url2 === 'users' ? 'active' : 'null'">
                All Users 
              </a>
            </li>
          </ul>
        </li>

        <!-- <li [ngClass]="[url === 'dashboard'? 'active' : 'inactive',url === ''? 'active' : 'inactive']">
          <a routerLink="/dashboard/admin"><i class="la la-dashboard"></i>
            <span> Admin dashboard</span>
          </a>
        </li> -->
        <!-- <li [ngClass]="[url === 'dashboard'? 'active' : 'inactive',url === ''? 'active' : 'inactive']">
          <a routerLink="/dashboard"><i class="fal fa-tachometer-fastest"></i>
            <span> User dashboard</span>
          </a>
        </li> -->

        <li class="submenu" *ngIf="isAdmin">
          <a routerLink="/dashboard/admin" [ngClass]="url === 'reports'? 'subdrop' : 'null'"><i class="la la-users"></i> 
            <span>User Dashboard </span> <span class="menu-arrow"></span>
          </a>
          <ul class="list-unstyled" [ngClass]="url === 'reports'? 'submenu-block' : 'dsply-none'">
            <li>
              <a routerLink="/myponds" [ngClass]="url2 === 'myponds' ? 'active' : 'null'">My Ponds </a>
            </li>
            <!-- <li> <a routerLink="/myponds" [ngClass]="url2 === 'globalpay' ? 'active': 'null'">Economic Indicator</a></li> -->
          </ul>
        </li>

        <!-- <li class="submenu">
          <a href="javascript:" [ngClass]="url === 'reports'? 'subdrop' : 'null'"><i class="la la-pie-chart"></i> <span>
              Reports </span> <span class="menu-arrow"></span></a>
          <ul class="list-unstyled" [ngClass]="url === 'reports'? 'submenu-block' : 'dsply-none'">
         
          </ul>
        </li> -->

      </ul>

    </div>
    <div class="cover-bar"></div>
  </div>
</div>