<div class="sidebar" id="sidebar" *ngIf="url != 'auth' && url != 'career'">
  <div class="sidebar-inner slimscroll-wrap" slimScroll [options]="opts">
    <div id="sidebar-menu" class="sidebar-menu">
      <ul *ngIf="homeView">

        <li class="submenu">
          <a routerLink="/dashboard" [ngClass]="url === 'reports'? 'subdrop' : 'null'"><i class="la la-rocket"></i> 
            <span>Admin Dashbboard </span> <span class="menu-arrow"></span>
          </a>
          <ul class="list-unstyled" [ngClass]="url === 'reports'? 'submenu-block' : 'dsply-none'">
            <li>
              <a routerLink="/allponds" [ngClass]="url2 === 'dafabet' ? 'active' : 'null'">
                <em>all </em> Ponds 
              </a>
            </li>
            <li>
              <a routerLink="/allusers" [ngClass]="url2 === 'users' ? 'active' : 'null'">
                <em>all </em> Users 
              </a>
            </li>
          </ul>
        </li>

        <!-- <li [ngClass]="[url === 'dashboard'? 'active' : 'inactive',url === ''? 'active' : 'inactive']">
          <a routerLink="/dashboard/admin"><i class="la la-dashboard"></i>
            <span> Admin dashboard</span>
          </a>
        </li> -->
        <!-- <li [ngClass]="[url === 'dashboard'? 'active' : 'inactive',url === ''? 'active' : 'inactive']">
          <a routerLink="/dashboard"><i class="fal fa-tachometer-fastest"></i>
            <span> User dashboard</span>
          </a>
        </li> -->

        <!-- <li class="submenu">
          <a href="javascript:" [ngClass]="url === 'reports'? 'subdrop' : 'null'"><i class="la la-rocket"></i> 
            <span>User Admin </span> <span class="menu-arrow"></span>
          </a>
          <ul class="list-unstyled" [ngClass]="url === 'reports'? 'submenu-block' : 'dsply-none'">
            <li>
              <a routerLink="/myponds" [ngClass]="url2 === 'dafabet' ? 'active' : 'null'">My Ponds </a>
            </li>
            <li>
              <a routerLink="/users" [ngClass]="url2 === 'users' ? 'active' : 'null'">Users </a>
            </li>
            <li>
              <a routerLink="globalpay" [ngClass]="url2 === 'globalpay' ? 'active': 'null'"> Economic Indicator</a>
          </ul>
        </li> -->

        <li class="submenu">
          <a href="javascript:" [ngClass]="url === 'reports'? 'subdrop' : 'null'"><i class="la la-pie-chart"></i> <span>
              Reports </span> <span class="menu-arrow"></span></a>
          <ul class="list-unstyled" [ngClass]="url === 'reports'? 'submenu-block' : 'dsply-none'">
            <!-- <li>
              <a routerLink="reports/dafabet" [ngClass]="url2 === 'dafabet' ? 'active' : 'null'">all transactions </a>
            </li> -->
            <!--            <li>-->
            <!--              <a routerLink="globalpay" [ngClass]="url2 === 'globalpay' ? 'active': 'null'"> globalpay</a>-->
            <!--            </li>-->
          </ul>
        </li>

      </ul>

    </div>
    <div class="cover-bar"></div>
  </div>
</div>