<div class="page-wrapper">
  <div class="content container-fluid">
    <div class="row">
      <div class="col-sm-4 col-xs-3">
        <h4 class="page-title">All User Ponds</h4>
      </div>
      <div class="col-sm-8 col-xs-9 text-right m-b-20">
        <a href="javascript:" class="btn btn-primary rounded pull-right" data-toggle="modal" data-target="#add_pond">
          <i class="fa fa-plus"></i>
          Add Pond</a>
        <div class="view-icons">
          <a [ngClass]="{active:!allClients}" (click)="allClients=false" class="grid-view btn btn-link">
            <i class="fa fa-th"></i>
          </a>
          <a [ngClass]="{active:allClients}" (click)="allClients=true" class="list-view btn btn-link">
            <i class="fa fa-bars"></i>
          </a>
        </div>
      </div>
    </div>
    <br>

    <div class="row" *ngIf="allClients">
      <div class="col-md-12">
        <div class="table-responsive table-responsive-inherit">
          <table class="table table-striped custom-table" [mfData]="rows" #mf="mfDataTable" [mfRowsOnPage]="10">
            <thead>
              <th style="width: 5%" class="text-center">
                <mfDefaultSorter by="id">#</mfDefaultSorter>
              </th>
              <th style="width: 18%">
                <mfDefaultSorter by="userId">User Id</mfDefaultSorter>
              </th>
              <th style="width: 15%">
                <mfDefaultSorter by="firstName">First Name</mfDefaultSorter>
              </th>
              <th style="width: 15%">
                <mfDefaultSorter by="lastName">Last Name</mfDefaultSorter>
              </th>
              <th style="width: 15%">
                <mfDefaultSorter by="pondName">Pond Name</mfDefaultSorter>
              </th>
              <th style="width: 10%">
                <mfDefaultSorter by="pondType">Pond Type</mfDefaultSorter>
              </th>
              <th style="width: 10%">
                <mfDefaultSorter by="cubicSize">CubicSize</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="action"></mfDefaultSorter>
              </th>
            </thead>
            <tbody>
              <tr *ngFor="let item of mf.data">
                <td>00{{item.id}}</td>
                <td>
                  <a (click)="viewProfile(item)">{{item.userId}} </a>
                </td>
                <td>{{item.firstName}}</td>
                <td>{{item.lastName}}</td>
                <td>{{item.pondName}}</td>
                <td>{{item.pondType}}</td>
                <td>{{item.cubicSize}}</td>
                <td>
                  <button class="btn btn-primary" (click)="fishPondHealth(item)">Fish Health</button>
                  <button class="btn btn-black btn-xs" (click)="fishPondProductionData(item)">Production Data</button>
                </td>

                <td>
              </td>

              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="12">
                  <mfBootstrapPaginator></mfBootstrapPaginator>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>

    <div class="row staff-grid-row" *ngIf="!allClients">
      <div class="col-md-4 col-sm-4 col-xs-6 col-lg-3" *ngFor="let item of rows">
        <div class="profile-widget">
          <div class="profile-img">
            <a (click)="viewProfile(item)" class="avatar">{{item.companyName.split('')[0]}}</a>
          </div>
          <div class="dropdown profile-action">
            <a href="javascript:" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i
                class="fa fa-ellipsis-v"></i></a>
            <ul class="dropdown-menu pull-right">
              <li><a (click)="onEdit(item)"><i class="fa fa-pencil m-r-5"></i>
                  Edit</a></li>
              <li><a (click)="onDelete(item)"><i class="fa fa-trash-o m-r-5"></i> Delete</a></li>
            </ul>
          </div>
          <h4 class="user-name m-t-10 m-b-0 text-ellipsis"><a href="javascript:">{{item.companyName}}</a></h4>
          <h5 class="user-name m-t-10 m-b-0 text-ellipsis"><a href="javascript:">{{item.contactPerson}}</a></h5>
          <div class="small text-muted">{{item.designation}}</div>
          <a href="javascript:" class="btn btn-default btn-sm m-t-10">Message</a>
          <a (click)="viewProfile(item)" class="btn btn-default btn-sm m-t-10 m-l-5">View
            Profile</a>
        </div>
      </div>
    </div>

    <div id="add_pond" class="modal custom-modal fade" role="dialog">
      <div class="modal-dialog">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <div class="modal-content modal-lg">
          <div class="modal-header">
            <h4 class="modal-title">Add User Pond</h4>
          </div>
          <div class="modal-body">
            <div class="m-b-30">
              <form #addPond="ngForm" (ngSubmit)="addUserPond(addForm)" novalidate>
                <div class="row">

                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label">Pond Name <span class="text-danger">*</span></label>
                      <input class="form-control" type="text" [(ngModel)]="addC.pondName" name="pondName"
                        #pondName="ngModel" required>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label">Pond Type</label>
                      <input class="form-control" type="text" [(ngModel)]="addC.pondType" name="pondType"
                        #pondType="ngModel" required>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label">Cubic Size <span class="text-danger">*</span></label>
                      <input class="form-control" type="text" [(ngModel)]="addC.cubicSize" name="cubicSize"
                        #cubicSize="ngModel" required>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label">isLargest <span class="text-danger m-l-5">*</span></label>
                      <select class="select floating form-control" [(ngModel)]="addC.isLargest" name="isLargest"
                        #isLargest="ngModel">
                        <option value="true">True</option>
                        <option value="false">False</option>
                      </select>
                    </div>

                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label">isSmallest <span class="text-danger">*</span></label>
                      <select class="select floating form-control" [(ngModel)]="addC.isSmallest" name="isSmallest"
                        #isSmallest="ngModel">
                        <option value="true">True</option>
                        <option value="false">False</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6" hidden>
                    <div class="form-group">
                      <label class="control-label">UserId <span class="text-danger">*</span></label>
                      <input class="form-control" type="hidden" [(ngModel)]="addC.userId" name="userId"
                        #userId="ngModel" required>
                    </div>
                  </div>

                </div>

                <div class="m-t-20 text-center">
                  <div *ngIf="addClientValidation" class="alert alert-info m-t-10">
                    <strong>Warning!</strong> Must Fill all Mandatory Fields.
                  </div>
                  <button class="btn btn-primary" type="submit">Add new pond</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="add_client" class="modal custom-modal fade" role="dialog">
      <div class="modal-dialog">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <div class="modal-content modal-lg">
          <div class="modal-header">
            <h4 class="modal-title">Add Client</h4>
          </div>
          <div class="modal-body">
            <div class="m-b-30">
              <form #addForm="ngForm" (ngSubmit)="addClient(addForm)" novalidate>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label">First Name <span class="text-danger">*</span></label>
                      <input class="form-control" type="text" [(ngModel)]="addC.firstName" name="firstName"
                        #firstName="ngModel" required>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label">Last Name</label>
                      <input class="form-control" type="text" [(ngModel)]="addC.lastName" name="lastName"
                        #lastName="ngModel" required>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label">Contact Person <span class="text-danger">*</span></label>
                      <input class="form-control" type="text" [(ngModel)]="addC.contactPerson" name="contactPerson"
                        #contactPerson="ngModel" required>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group" [class.has-error]="email.invalid && email.touched"
                      [class.has-success]="email.valid">
                      <label class="control-label">Email <span class="text-danger m-l-5">*</span></label>
                      <input class="form-control" type="email"
                        pattern="([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})" [(ngModel)]="addC.email"
                        name="email" #email="ngModel" required>
                      <span class="help-block" *ngIf="email.errors && email.touched">
                        Email is invalid
                      </span>
                    </div>
                    <!-- <div class="form-group">
                    <label class="control-label">Email <span class="text-danger">*</span></label>
                    <input class="form-control floating" type="email" [(ngModel)]="addC.email" name="email" #email="ngModel" required>
                  </div> -->
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label">Password <span class="text-danger">*</span></label>
                      <input class="form-control" type="password" [(ngModel)]="addC.password" name="password"
                        #password="ngModel" required>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label">Confirm Password <span class="text-danger">*</span></label>
                      <input class="form-control" type="password" [(ngModel)]="addC.cPassword" name="cPassword"
                        #cPassword="ngModel" required>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label">Client ID <span class="text-danger">*</span></label>
                      <input class="form-control floating" type="text" [(ngModel)]="addC.clientID" name="clientID"
                        #clientID="ngModel" readonly required>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group" [class.has-error]="mobile.invalid && mobile.touched"
                      [class.has-success]="mobile.valid">
                      <label class="control-label">Phone <span class="text-danger">*</span></label>
                      <input class="form-control unit-cost" type="text" [(ngModel)]="addC.mobile" name="mobile"
                        #mobile="ngModel" pattern="(\d{10}|\d{12})" required>
                      <span class="help-block" *ngIf="mobile.errors && mobile.touched">
                        Phone Number is invalid
                      </span>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label">Company Name</label>
                      <input class="form-control" type="text" [(ngModel)]="addC.companyName" name="companyName"
                        #companyName="ngModel">
                    </div>
                  </div>
                </div>
                <div class="table-responsive m-t-15">
                  <table class="table table-striped custom-table">
                    <thead>
                      <tr>
                        <th>Module Permission</th>
                        <th class="text-center">Read</th>
                        <th class="text-center">Write</th>
                        <th class="text-center">Create</th>
                        <th class="text-center">Delete</th>
                        <th class="text-center">Import</th>
                        <th class="text-center">Export</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Projects</td>
                        <td class="text-center">
                          <input checked="" type="checkbox">
                        </td>
                        <td class="text-center">
                          <input checked="" type="checkbox">
                        </td>
                        <td class="text-center">
                          <input checked="" type="checkbox">
                        </td>
                        <td class="text-center">
                          <input checked="" type="checkbox">
                        </td>
                        <td class="text-center">
                          <input checked="" type="checkbox">
                        </td>
                        <td class="text-center">
                          <input checked="" type="checkbox">
                        </td>
                      </tr>
                      <tr>
                        <td>Tasks</td>
                        <td class="text-center">
                          <input checked="" type="checkbox">
                        </td>
                        <td class="text-center">
                          <input checked="" type="checkbox">
                        </td>
                        <td class="text-center">
                          <input checked="" type="checkbox">
                        </td>
                        <td class="text-center">
                          <input checked="" type="checkbox">
                        </td>
                        <td class="text-center">
                          <input checked="" type="checkbox">
                        </td>
                        <td class="text-center">
                          <input checked="" type="checkbox">
                        </td>
                      </tr>
                      <tr>
                        <td>Chat</td>
                        <td class="text-center">
                          <input checked="" type="checkbox">
                        </td>
                        <td class="text-center">
                          <input checked="" type="checkbox">
                        </td>
                        <td class="text-center">
                          <input checked="" type="checkbox">
                        </td>
                        <td class="text-center">
                          <input checked="" type="checkbox">
                        </td>
                        <td class="text-center">
                          <input checked="" type="checkbox">
                        </td>
                        <td class="text-center">
                          <input checked="" type="checkbox">
                        </td>
                      </tr>
                      <tr>
                        <td>Estimates</td>
                        <td class="text-center">
                          <input checked="" type="checkbox">
                        </td>
                        <td class="text-center">
                          <input checked="" type="checkbox">
                        </td>
                        <td class="text-center">
                          <input checked="" type="checkbox">
                        </td>
                        <td class="text-center">
                          <input checked="" type="checkbox">
                        </td>
                        <td class="text-center">
                          <input checked="" type="checkbox">
                        </td>
                        <td class="text-center">
                          <input checked="" type="checkbox">
                        </td>
                      </tr>
                      <tr>
                        <td>Invoices</td>
                        <td class="text-center">
                          <input checked="" type="checkbox">
                        </td>
                        <td class="text-center">
                          <input checked="" type="checkbox">
                        </td>
                        <td class="text-center">
                          <input checked="" type="checkbox">
                        </td>
                        <td class="text-center">
                          <input checked="" type="checkbox">
                        </td>
                        <td class="text-center">
                          <input checked="" type="checkbox">
                        </td>
                        <td class="text-center">
                          <input checked="" type="checkbox">
                        </td>
                      </tr>
                      <tr>
                        <td>Timing Sheets</td>
                        <td class="text-center">
                          <input checked="" type="checkbox">
                        </td>
                        <td class="text-center">
                          <input checked="" type="checkbox">
                        </td>
                        <td class="text-center">
                          <input checked="" type="checkbox">
                        </td>
                        <td class="text-center">
                          <input checked="" type="checkbox">
                        </td>
                        <td class="text-center">
                          <input checked="" type="checkbox">
                        </td>
                        <td class="text-center">
                          <input checked="" type="checkbox">
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="m-t-20 text-center">
                  <div *ngIf="addClientValidation" class="alert alert-info m-t-10">
                    <strong>Warning!</strong> Must Fill all Mandatory Fields.
                  </div>
                  <button class="btn btn-primary" type="submit">Create Client</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="delete_client" class="modal custom-modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content modal-md">
          <div class="modal-header">
            <h4 class="modal-title">Delete Client</h4>
          </div>
          <div class="modal-body card-box">
            <p>Are you sure want to delete this?</p>
            <div class="m-t-20"> <a href="javascript:" class="btn btn-default" data-dismiss="modal">Close</a>
              <button type="submit" class="btn btn-danger">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>