<div class="page-wrapper">
  <div class="content container-fluid">
    <div class="row">
      <div class="col-sm-8">
        <h4 class="page-title"><a routerLink="/allponds" data-dismiss="modal" style="cursor:pointer;">all Ponds</a> / My
        </h4>
      </div>
      <!-- <div class="col-sm-4 text-right m-b-30">
          <a (click)="onEdit(viewP.clientID)" class="btn btn-primary rounded"><i class="fa fa-plus"></i> Edit
            Profile</a>
        </div> -->
    </div>

    <div class="card-box tab-box">
      <div class="row user-tabs">
        <div class="col-lg-12 col-md-12 col-sm-12 line-tabs">
          <ul class="nav nav-tabs tabs nav-tabs-bottom">
            <li class="active col-sm-3"><a data-toggle="tab" href="#myprojects">Fish Pond Health</a></li>
            <li class="col-sm-3"><a data-toggle="tab" href="#tasks">Fish Pond Produc tion Data</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="tab-content profile-tab-content">
          <div id="myprojects" class="tab-pane fade in active">
            <div class="row">
              <div class="col-lg-3 col-sm-4">
                <div class="card-box project-box">
                  <h4 class="project-title"><a href="javascript:">Profitability</a></h4>
                  <small class="block text-ellipsis m-b-15">
                  </small>
                  <h2><b>{{this.fishPondHealth.profitability}}</b></h2>

                  <p class="m-b-5">Progress <span class="text-success pull-right">{{this.fishPondHealth.profitability}}</span></p>
                  <div class="progress progress-xs m-b-0">
                    <div class="progress-bar progress-bar-success" role="progressbar"
                      tooltip="{{this.fishPondHealth.profitability}}" title="{{this.fishPondHealth.profitability}}"
                      style="width: {{this.fishPondHealth.profitability}}%"></div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-4">
                <div class="card-box project-box">
                  <h4 class="project-title"><a href="javascript:">Growth In Workforce</a></h4>
                  <small class="block text-ellipsis m-b-15">
                 
                  </small>

                  <h2><b>{{this.fishPondHealth.growthInWorkforce}}</b></h2>
                  <p class="m-b-5">Progress <span class="text-success pull-right">{{this.fishPondHealth.growthInWorkforce}}</span></p>
                  <div class="progress progress-xs m-b-0">
                    <div class="progress-bar progress-bar-success" role="progressbar" tooltip="{{this.fishPondHealth.growthInWorkforce}}" title="{{this.fishPondHealth.growthInWorkforce}}"
                      style="width: {{this.fishPondHealth.growthInWorkforce}}%"></div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-4">
                <div class="card-box project-box">
                 
                  <h4 class="project-title"><a href="javascript:">Growth Production Units</a></h4>
                  <small class="block text-ellipsis m-b-15">
                   
                  </small>
           
                  <h2><b>{{this.fishPondHealth.growthInProductionUnits}}</b></h2>
                  <p class="m-b-5">Progress <span class="text-success pull-right">{{this.fishPondHealth.growthInProductionUnits}}</span></p>
                  <div class="progress progress-xs m-b-0">
                    <div class="progress-bar progress-bar-success" role="progressbar" tooltip="{{this.fishPondHealth.growthInProductionUnits}}" title="{{this.fishPondHealth.growthInProductionUnits}}"
                      style="width: {{this.fishPondHealth.growthInProductionUnits}}%"></div>
                  </div>
                </div>
              </div>
        
            </div>
          </div>

          <div id="tasks" class="tab-pane fade">
            <div class="row">
              <div class="col-lg-4 col-sm-4">
                <div class="card-box project-box">
                  <!-- <div class="dropdown profile-action">
                    <a href="javascript:" class="action-icon dropdown-toggle" data-toggle="dropdown"
                      aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                    <ul class="dropdown-menu pull-right">
                      <li><a href="javascript:" data-toggle="modal" data-target="#edit_project"><i
                            class="fa fa-pencil m-r-5"></i>
                          Edit</a></li>
                      <li><a href="javascript:" data-toggle="modal" data-target="#delete_project"><i
                            class="fa fa-trash-o m-r-5"></i>
                          Delete</a></li>
                    </ul>
                  </div> -->
                  <h4 class="project-title"><a href="javascript:">FeedConversionRation</a></h4>
                  <small class="block text-ellipsis m-b-15">
                   
                  </small>
                  
                  <h2><b>{{this.fishPondProductionData.feedConversionRation}}</b></h2>
                  <p class="m-b-5">Progress <span class="text-success pull-right">{{this.fishPondProductionData.feedConversionRation}}</span></p>
                  <div class="progress progress-xs m-b-0">
                    <div class="progress-bar progress-bar-success" role="progressbar"
                      tooltip="{{this.fishPondProductionData.feedConversionRation}}%" title="{{this.fishPondProductionData.feedConversionRation}}%"
                      style="width:{{this.fishPondProductionData.feedConversionRation}}%"></div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-4">
                <div class="card-box project-box">
                
                  <h4 class="project-title"><a href="javascript:">Growth Reate</a></h4>
                  <small class="block text-ellipsis m-b-15">
                   
                  </small>
               
                  <h2><b>{{this.fishPondProductionData.growthReate}}</b></h2>
                  <p class="m-b-5">Progress <span class="text-success pull-right">{{this.fishPondProductionData.growthReate}}</span></p>
                  <div class="progress progress-xs m-b-0">
                    <div class="progress-bar progress-bar-success" role="progressbar"
                      tooltip="{{this.fishPondProductionData.growthReate}}" title="{{this.fishPondProductionData.growthReate}}"
                      style="width:{{this.fishPondProductionData.growthReate}}%"></div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-4">
                <div class="card-box project-box">
                
                  <h4 class="project-title"><a href="javascript:">Hatchability</a></h4>
                  <small class="block text-ellipsis m-b-15">
                   
                  </small>
               
                  <h2><b>{{this.fishPondProductionData.hatchability}}</b></h2>
                  <p class="m-b-5">Progress <span class="text-success pull-right">{{this.fishPondProductionData.hatchability}}</span></p>
                  <div class="progress progress-xs m-b-0">
                    <div class="progress-bar progress-bar-success" role="progressbar"
                      tooltip="{{this.fishPondProductionData.feedConversionRation}}" title="{{this.fishPondProductionData.hatchability}}"
                      style="width:{{this.fishPondProductionData.hatchability}}%"></div>
                  </div>
                </div>
              </div>
           
      
              <div class="col-lg-4 col-sm-4">
                <div class="card-box project-box">
                  <!-- <div class="dropdown profile-action">
                    <a href="javascript:" class="action-icon dropdown-toggle" data-toggle="dropdown"
                      aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                    <ul class="dropdown-menu pull-right">
                      <li><a href="javascript:" data-toggle="modal" data-target="#edit_project"><i
                            class="fa fa-pencil m-r-5"></i>
                          Edit</a></li>
                      <li><a href="javascript:" data-toggle="modal" data-target="#delete_project"><i
                            class="fa fa-trash-o m-r-5"></i>
                          Delete</a></li>
                    </ul>
                  </div> -->
                  <h4 class="project-title"><a href="javascript:">Sex Reversal GrowthRate</a></h4>
                  <small class="block text-ellipsis m-b-15">
                    
                  </small>
                 
                  <h2><b>{{this.fishPondProductionData.sexReversalGrowthRate}}</b></h2>
                  <p class="m-b-5">Progress <span class="text-success pull-right">{{this.fishPondProductionData.sexReversalGrowthRate}}</span></p>
                  <div class="progress progress-xs m-b-0">
                    <div class="progress-bar progress-bar-success" role="progressbar" tooltip="{{this.fishPondProductionData.sexReversalGrowthRate}}" title="{{this.fishPondProductionData.sexReversalGrowthRate}}"
                      style="width: {{this.fishPondProductionData.sexReversalGrowthRate}}%"></div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-4">
                <div class="card-box project-box">
                  <!-- <div class="dropdown profile-action">
                    <a href="javascript:" class="action-icon dropdown-toggle" data-toggle="dropdown"
                      aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                    <ul class="dropdown-menu pull-right">
                      <li><a href="javascript:" data-toggle="modal" data-target="#edit_project"><i
                            class="fa fa-pencil m-r-5"></i>
                          Edit</a></li>
                      <li><a href="javascript:" data-toggle="modal" data-target="#delete_project"><i
                            class="fa fa-trash-o m-r-5"></i>
                          Delete</a></li>
                    </ul>
                  </div> -->
                  <h4 class="project-title"><a href="javascript:">Sex Reversal Mortality</a></h4>
                  <small class="block text-ellipsis m-b-15">
                    
                  </small>
            
                  <h2><b>{{this.fishPondProductionData.sexReversalMortality}}</b></h2>
                  <p class="m-b-5">Progress <span class="text-success pull-right">{{this.fishPondProductionData.sexReversalMortality}}</span></p>
                  <div class="progress progress-xs m-b-0">
                    <div class="progress-bar progress-bar-success" role="progressbar"
                      tooltip="{{this.fishPondProductionData.sexReversalMortality}}" title="{{this.fishPondProductionData.sexReversalMortality}}"
                      style="width: {{this.fishPondProductionData.sexReversalMortality}}%"></div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-4">
                <div class="card-box project-box">
                  <!-- <div class="dropdown profile-action">
                    <a href="javascript:" class="action-icon dropdown-toggle" data-toggle="dropdown"
                      aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                    <ul class="dropdown-menu pull-right">
                      <li><a href="javascript:" data-toggle="modal" data-target="#edit_project"><i
                            class="fa fa-pencil m-r-5"></i>
                          Edit</a></li>
                      <li><a href="javascript:" data-toggle="modal" data-target="#delete_project"><i
                            class="fa fa-trash-o m-r-5"></i>
                          Delete</a></li>
                    </ul>
                  </div> -->
                  <h4 class="project-title"><a href="javascript:">sexReversal MortalityRate</a></h4>
                  <small class="block text-ellipsis m-b-15"> </small>
                  
                  
                  <h2><b>{{this.fishPondProductionData.sexReversalMortalityRate}}</b></h2>
                  <p class="m-b-5">Progress <span class="text-success pull-right">{{this.fishPondProductionData.sexReversalMortalityRate}}</span></p>
                  <div class="progress progress-xs m-b-0">
                    <div class="progress-bar progress-bar-success" role="progressbar" tooltip="{{this.fishPondProductionData.sexReversalMortalityRate}}" title="{{this.fishPondProductionData.sexReversalMortalityRate}}"
                      style="width: {{this.fishPondProductionData.sexReversalMortalityRate}}%"></div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-4">
                <div class="card-box project-box">
                  <h4 class="project-title"><a href="javascript:">Weight Gain AtNursery</a></h4>
                  <small class="block text-ellipsis m-b-15">
                  
                  </small>
              
                    <h2><b>{{this.fishPondProductionData.weightGainAtNursery}}</b></h2>
                  <p class="m-b-5">Progress <span class="text-success pull-right">{{this.fishPondProductionData.weightGainAtNursery}}</span></p>
                  <div class="progress progress-xs m-b-0">
                    <div class="progress-bar progress-bar-success" role="progressbar" tooltip="{{this.fishPondProductionData.weightGainAtNursery}}" title="{{this.fishPondProductionData.weightGainAtNursery}}"
                      style="width: {{this.fishPondProductionData.weightGainAtNursery}}%"></div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-4">
                <div class="card-box project-box">
                  <h4 class="project-title"><a href="javascript:">Growth Rate AtNursery</a></h4>
                  <small class="block text-ellipsis m-b-15">
                    
                  </small>
            
                  <h2><b>{{this.fishPondProductionData.growthRateAtNursery}}</b></h2>
                  <p class="m-b-5">Progress <span class="text-success pull-right">{{this.fishPondProductionData.growthRateAtNursery}}</span></p>
                  <div class="progress progress-xs m-b-0">
                    <div class="progress-bar progress-bar-success" role="progressbar" tooltip="{{this.fishPondProductionData.growthRateAtNursery}}" title="{{this.fishPondProductionData.growthRateAtNursery}}"
                      style="width: {{this.fishPondProductionData.growthRateAtNursery}}%"></div>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-sm-4">
                <div class="card-box project-box">
                  
                  <h4 class="project-title"><a href="javascript:">RecoveryRate DuringNursery</a></h4>
                  <small class="block text-ellipsis m-b-15"></small>
           
                  <h2><b>{{this.fishPondProductionData.recoveryRateDuringNursery}}</b></h2>
                  <p class="m-b-5">Progress <span class="text-success pull-right">{{this.fishPondProductionData.recoveryRateDuringNursery}}</span></p>
                  <div class="progress progress-xs m-b-0">
                    <div class="progress-bar progress-bar-success" role="progressbar" tooltip="{{this.fishPondProductionData.recoveryRateDuringNursery}}" title="{{this.fishPondProductionData.recoveryRateDuringNursery}}"
                      style="width: {{this.fishPondProductionData.growthInProductionUnits}}%"></div>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
